
html, body {
    font-family: '微软雅黑', sans-serif !important;
    color: #575757;
    margin: 0px;
    padding: 0px;
}

.clearfix {
    overflow: auto;
    clear: both;
    width: 100%;
}

a {
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}

p, h1, h2, h3, h4, h5, ul, li {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

ul > li {
    list-style: none;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-200 {
    margin-top: 200px;
}

.header {
    background: #f8f8f8;
    height: 94px;
    margin-bottom: 50px;
    width: 100%;
}

.bgheader {
    background: #f8f8f8;
}

.header a.logo {
    display: block;
    float: left;
    width: 150px;
    height: 24px;
    background: url(/static/img/logo.png) no-repeat;
    background-size: 150px 24px;
    margin: 33px 20px 0 0;
    text-indent: -9999px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
}

nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}

.header nav {
    margin: 0;
    padding: 0;
    position: relative;
    top: 37px;
    margin-right: 5px;
}

.header nav ul {
    margin: 0;
    padding: 0;
    float: left;
}

.header nav li {
    float: left;
    margin-right: 6px;
    font-weight: 600;
}

.header nav a {
    color: #535353;
    font-size: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.header nav a:hover {
    color: #11a7db;
}

.header nav a.active {
    background: #727272;
    color: #FFF;
    margin: 0 2px;
}

a:active, a:hover {
    outline: 0;
}

.wrapper {
    /*width: 745px;*/
    margin: 0 auto;
}

#box-row {
    margin: 45px 0 110px 0;
    float: left;
    width: 100%;
}

#box-row .quarter {
    width: 25%;
    float: left;
}

#box-row .quarter a span {
    background-image: url(../img/home_sprite.png);
    background-repeat: none;
    width: 126px;
    height: 125px;
    display: block;
    margin: 0 auto 22px auto;
}

#box-row #hp-box-1 {
    text-align: center;
    padding: 0 70px 0 0;
}

#box-row #hp-box-3 {
    text-align: center;
    padding: 0 47px 0 23px;
}

#box-row #hp-box-2 {
    text-align: center;
    padding: 0 23px 0 47px;
}

#box-row #hp-box-4 {
    text-align: center;
    padding: 0 0 0 70px;
}

#box-row .quarter a:hover p, #box-row .quarter a:hover h3 {
    color: #3a3a3a;
}

#box-row .quarter a p {
    color: #505050;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
}

#box-row #hp-box-3 span {
    background-position: -135px 0;
}

#box-row #hp-box-2 span {
    background-position: -270px 0;
}

#box-row #hp-box-4 span {
    background-position: -407px 0;
}

#box-row .quarter a {
    text-decoration: none;
}

#box-row .quarter a h3 {
    font-size: 22px;
    color: #565656;
    margin-bottom: 8px;
    font-weight: 700;
}

.filter-bar {
    width: 100%;
    float: left;
    clear: left;
    padding-bottom: 0;
    margin-bottom: 3px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}

#fadeable {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
}

.filter-bar .filters {
    float: left;
    position: relative;
}

.filter-bar ul {
    list-style: none;
}

.filter-bar ul li {
    display: block;
    margin-right: 0;
    float: left;
}

.filter-bar ul li a {
    padding: 14px 23px;
    border-left: 1px solid #DFDFDF;
    border-top: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #9E9E9E;
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-left: -1px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.filter-bar ul li .active {
    color: #FFF;
    margin-right: 0;
    border: none;
    border-top: 1px solid transparent;
    background: #11a7db;
}

.filter-bar ul li:first-child a {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    -ms-border-radius: 3px 0 0 0;
    -o-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}

.wrapper.home li:nth-child(1) a.active {
    background: #93cc76;
}

.wrapper.home li:nth-child(1) a.active:hover {
    background: #93cc76 !important;
}

.filter-bar ul li a:hover:not(.active) {
    background: #f1f1f1;
}

#feed #filter-objects {
    float: left;
    width: 100%;
    clear: left;
}

#feed #filter-objects li {
    padding: 25px 155px 25px 0;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#feed #filter-objects li .feedable-details {
    margin-left: 13px;
}

#feed #filter-objects li h3 {
    color: #575757;
    font-size: 19px;
    margin: -2px 0 4px 0;
}

#feed #filter-objects li h3 a {
    color: #575757;
}

#feed #filter-objects li h3 a:hover {
    color: #39B6E1;
}

#feed #filter-objects li h3 a.series {
    display: inline-block;
    margin-left: 7px;
    margin-top: -2px;
    vertical-align: middle;
}

a.series, div.parts_in_series {
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    border: 1px solid #F6936F;
    color: #E4754C !important;
    padding: 3px 4px 2px 4px;
    border-radius: 3px;
    letter-spacing: 1px;
    width: auto;
    text-align: center;
    margin-left: 15px;
    vertical-align: middle;
    position: relative;
    line-height: 12px;
}

.difficulty-level {
    position: absolute;
    width: 100px;
    right: 0;
    top: 50%;
    margin-top: -10px;
    font-size: 15px;
    color: #6e6e6e;
}

.difficulty-level.Beginner:before {
    background: #93cc76;
}

.difficulty-level.Intermediate:before {
    background: #11a7db;
}

.difficulty-level.Advanced:before {
    background: #f6936f;
}

.difficulty-level:before {
    width: 9px;
    height: 9px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    content: '';
    left: -20px;
    position: absolute;
    top: 6px;
}

.meta {
    clear: left;
}

#feed #filter-objects li .points {
    position: relative;
    font-size: 13px;
    text-align: center;
    display: inline;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-weight: 400;
    margin-right: 5px;
    color: #F38176;
}

.meta span {
    /*font-style: italic;*/
    color: #a2a2a2;
    font-size: 13px;
}

.meta span:not(:last-child):after {
    position: relative;
    content: "\2022";
    padding: 0 3px 0 4px;
}

.meta span a {
    border-bottom: 1px solid #E0E0E0;
    color: #616161;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

#feed #filter-objects li .points .icon-upvote-heart-full:before {
    font-size: 15px;
    position: relative;
    top: 2px;
    font-style: normal;
    margin-left: 1px;
}

.icon-upvote-heart-full:before {
    color: #F38176;
}

.icon-upvote-heart-full:before {
    content: "\e629";
}

@font-face {
    font-family: 'community_icons';
    src: url(community_icons-faac308f64f2540e53f8e88f9b3e4506.eot);
    src: url(community_icons-faac308f64f2540e53f8e88f9b3e4506.eot?#iefix) format("embedded-opentype"),
    url(community_icons-617927761c286a62928209ba9d486497.woff) format("woff"), url(community_icons-8948c558c88bbea84de9336205d94d1f.ttf) format("truetype"), url(community_icons-05c90f79df4340e1ce436a1f57b48146.svg#community_icons) format("svg");
    font-weight: normal;
    font-style: normal
}

footer {
    background: #2e3234;
    padding: 60px 0 30px 0;
    color: #747474;
    margin-top: 100px;
    min-width: 800px;
}

footer h3 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1.5px;
    margin-bottom: 17px;
    font-weight: 600;
}

footer #column-main {
    width: 212px;
    font-size: 15px;
}

footer #column-main #copyright {
    margin-bottom: 40px;
}

footer #column-main #made-in-ny {
    margin-bottom: 22px;
}

footer #column-main #privacy a {
    color: #b8b8b8;
    font-size: 14px;
}

footer #column-main a.cloud-icon {
    text-indent: -9999px;
    width: 150px;
    height: 50px;
    background-size: 150px 50px;
    background: url(../img/logo2.png) no-repeat;
    display: block;
}

footer #column-product {
    width: 190px;
}

footer #column-company {
    width: 190px;
}

footer #column-help {
    width: 195px;
}

footer #column-community {
    width: 185px;
}

footer #column-connect {
    float: right;
}

footer #droplet-count {
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 60px;
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    color: #939393;
}

footer .footer-column {
    float: left;
}

footer .footer-column ul li {
    margin-bottom: 8px;
}

footer .footer-column ul li a {
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

footer a {
    color: #b8b8b8;
}

.tutorial-single {
    margin-top: 0;
    border-top: none;
}

.tutorial-single .section-content.content {
    margin: 0 auto;
    /*padding-top: 120px;*/
    display: block;
}

.tutorial-single .wrapper.layout-wrapper {
    width: 100%;
    padding: 0;
}

.tutorial-single .section-content {
    position: relative;
    margin: 0 auto;
    display: block;
}

.tutorial-single .tutorial-image {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

.tutorial-single h1.content-title {
    /*font-size: 40px;*/
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 10px;
}

.section-content {

    /*使用bootstrap的宽度自适应*/
    /*width: 745px;*/
    margin-top: 35px;
    display: inline-block;
}

/*开始   标签 */
.meta-section.tags {
    font-size: 16px;
    color: #B5B5B5;
    margin-right: 10px;
}

.meta-section.tags a {
    text-decoration: none;
    color: #B5B5B5;
}

/*结束  标签*/

/*开始   系列list*/
.tutorial-single .tutorial-series-container.collapsed {
    margin-bottom: 10px;
    padding-top: 30px;
    clear: both;
}

.tutorial-single .tutorial-series-container {
    padding: 30px 0;
    width: 100%;
    display: block;
    border-bottom: 1px solid #e5e5e5;
}

.tutorial-single .section-content {
    position: relative;
    margin: 0 auto;
    display: block;
}

.tutorial-single .tutorial-series-container h2.tutorial-series-heading {
    /*font-size: 27px;*/
    /*font-weight: 300;*/
    margin-top: 10px;
}

.tutorial-single div.tutorial-series-toggle {
    font-size: 15px;
    /*margin-top: -5px;*/
    width: 100%;
    color: #8f8f8f;
}

.tutorial-single div.tutorial-series-toggle a {
    border-bottom: 1px dotted #000;
    color: #000;
    text-decoration: none;
}

.tutorial-single .tutorial-series-container.collapsed div.tutorial-series {
    border: 1px solid #e3e3e3;
    padding: 25px 25px 50px 25px;
}

.tutorial-single .tutorial-series-container .tutorial-series {
    position: relative;
    margin: 20px 0 20px 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.tutorial-single .tutorial-series-container .tutorial-series a.icon-close {
    position: absolute;
    right: 13px;
    top: 13px;
    font-size: 12px;
    font-weight: normal;
    color: #000;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-close:before {
    content: "\e60c";
}

.tutorial-single .tutorial-series-container .tutorial-series h3 {
    font-size: 18px;
}

.tutorial-single .tutorial-series-container .tutorial-series h3 a:hover {
    color: #2481b7;
}

.tutorial-single .tutorial-series-container .tutorial-series h3 a {
    color: #000;
}

.tutorial-single .tutorial-series-container .tutorial-series div.description {
    font-size: 16px;
    text-align: justify;
    color: #303030;
    padding-top: 20px;
    padding-right: 20px;
}

.tutorial-single .tutorial-series-container .tutorial-series ol.tutorial-series-list {
    margin: 30px 0 5px 30px;
}

ol.tutorial-series-list {
    list-style-type: none;
    margin: 40px 0 0 0;
    padding: 0;
    counter-reset: li-counter;
}

.tutorial-single .tutorial-series-container .tutorial-series ol.tutorial-series-list li {
    padding: 21px 0 7px 20px;
}

ol.tutorial-series-list li.active {
    border-left: 1px solid #F6936F;
}

ol.tutorial-series-list li {
    /*padding: 17px 0 7px 20px;*/
    position: relative;
    border-left: 1px solid #2481B7;
    /*background: url(/assets/series_border.png) 0 100% repeat-x;*/
}

.tutorial-single .tutorial-series-container .tutorial-series ol.tutorial-series-list li:before {
    top: 31%;
    left: -31px;
    font-size: 26px;
    line-height: 26px;
}

ol.tutorial-series-list li.active:before {
    color: #f6936f;
}

ol.tutorial-series-list li:before {
    position: absolute;
    color: #2481b7;
    content: counter(li-counter);
    counter-increment: li-counter;
    width: 47px;
    text-align: left;
    top: 43%;
    left: -24px;
    font-size: 20px;
    line-height: 20px;
}

ol.tutorial-series-list li h2 {
    margin-bottom: 6px;
    line-height: 19px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #373737;
    margin-top: 0px;
    width: 80%;
}

ol.tutorial-series-list li h2 a {
    color: #000;
}

ol.tutorial-series-list .feedable-date {
    float: right;
    font-size: 14px;
    color: #a2a2a2;
    position: relative;
    top: 3px;
}

ol.tutorial-series-list {
    list-style-type: none;
    margin: 40px 0 0 0;
    padding: 0;
    counter-reset: li-counter;
}

ol.tutorial-series-list li .meta {
    line-height: 13px;
    color: #A2A29E;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 400;
}

.meta {
    clear: left;
}

ol.tutorial-series-list li .points {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: #F38176;
    font-size: 13px;
}

ol.tutorial-series-list li .meta span {
    font-style: normal;
}

.meta span {
    color: #a2a2a2;
    font-size: 13px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

ol.tutorial-series-list li .points {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    color: #F38176;
    font-size: 13px;
}

.icon-upvote-heart-small:before {
    color: #F38176;
}

.icon-upvote-heart-small:before {
    content: "\e62a";
}

.meta .response-count, .meta .answers-count {
    display: inline-block;
    font-size: 13px;
    color: #6d6d6d;
    margin-left: 2px;
}

ol.tutorial-series-list li .response-count .icon {
    padding-left: 1px;
    padding-right: 2px;
}

.meta .response-count .icon, .meta .answers-count .icon {
    font-size: 12px;
    position: relative;
    top: 1px;
    padding-right: 2px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-new-comment:before {
    content: "\e63f";
}

ol.tutorial-series-list li .author {
    margin: 3px 0 5px 10px;
}

ol.tutorial-series-list li h2 a:hover {
    color: #2481b7;
}

/*结束  系列list*/

/* 开始 正文部分*/
.tutorial-single .tutorial-content {
    font-size: 20px;
}

.tutorial-single .tutorial-content pre {
    font-size: 14px;
}

.tutorial-single h3 {
    font-size: 20px;
    /*font-weight: 600;*/
}

.content-body h3 {
    /*font-weight: 700;*/
    font-size: 20px;
    margin: 14px 0 11px 0;
    color: #2d2d2d;
    width: 100%;
}

.tutorial-single .tutorial-content p {
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
}

.content-body p {
    margin: 0 0 10px 0;
}

.tutorial-single h2 {
    font-size: 20px;
    /*font-weight: 400;*/
    margin-top: 10px;
}

.content-body h2 {
    /*font-weight: 800;*/
    /*font-size: 27px;*/
    letter-spacing: .2px;
    margin: 25px 0 10px 0;
    color: #2d2d2d;
}

/*结束  正文部分*/

/* 开始   中间内容底部*/
.tutorial-single .tutorial-footer {
    position: relative;
}

.tutorial-single .tutorial-footer .tutorial-footer-details {
    border-bottom: 1px solid #e3e3e3;
    padding: 75px 0 0 0;
}

.tutorial-single .tutorial-footer .section-content {
    display: block;
}

.upvotes.large-upvotes.upvoted-by-current-user {
    background-color: #E6605B;
    border-color: #E6605B;
    color: #fff;
}

.upvote-form {
    display: inline-block;
    vertical-align: top;
}

form {
    margin: 0;
}

.upvotes.large-upvotes button {
    margin-left: 16px;
    position: relative;
    top: 7px;
    pointer-events: none;
}

.upvote-form button {
    border: none;
    background: none;
    padding: 0px 1px 0 1px;
}

.upvote-form.signed-out-upvote span {
    cursor: pointer;
}

.upvote-form span {
    font-size: 25px;
    line-height: 25px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.upvotes.large-upvotes .upvote-form .icon-upvote-heart-full:before {
    color: #fff;
}

.icon-upvote-heart-full:before {
    color: #F38176;
}

.icon-upvote-heart-full:before {
    content: "\e629";
}

.tutorial-single .tutorial-footer .upvotes {
    position: absolute;
    left: 0;
    top: -6px;
}

.upvotes.large-upvotes {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #F4C3C3;
    cursor: pointer;
}

.upvotes {
    text-align: right;
    overflow: hidden;
    color: #F38176;
}

.upvotes.large-upvotes.upvoted-by-current-user .upvote-text .hearted-text {
    display: inline-block;
}

.upvotes.large-upvotes.upvoted-by-current-user .upvote-text .heart-text {
    display: none;
}

.upvotes.large-upvotes.upvoted .upvote-text {
    padding-right: 25px;
    margin-right: 5px;
}

.upvotes.large-upvotes .upvote-text {
    display: inline-block;
    font-size: 16px;
    padding-left: 8px;
    line-height: 38px;
}

.upvotes.large-upvotes.upvoted-by-current-user .upvote-count {
    background-color: #E8706C;
    border-color: #E8706C;
}

.upvotes.large-upvotes .upvote-count {
    padding: 0 15px 0 10px;
    margin-left: -18px;
    line-height: 40px;
    border-radius: 0 20px 20px 0px;
    margin-top: -1px;
    border-left: 1px solid #F4C3C3;
}

.upvotes.upvoted .upvote-count {
    visibility: visible;
}

.upvotes .upvote-count {
    font-size: 16px;
    display: inline-block;
    visibility: hidden;
    margin-left: 3px;
    vertical-align: top;
}

.upvotes.large-upvotes {
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #F4C3C3;
    cursor: pointer;
}

.upvotes {
    text-align: right;
    overflow: hidden;
    color: #F38176;
}

.tutorial-single .tutorial-footer .opt-in-switch {
    position: absolute;
    right: 0;
    top: 4px;
}

.opt-in-switch.off {
    min-width: 100px;
}

.opt-in-switch .subscribe-label {
    cursor: pointer;
    color: #999;
    font-size: 15px;
    padding: 0 1px;
}

.opt-in-switch .subscription-label {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 9px 16px;
}

.opt-in-switch .subscribe-label {
    cursor: pointer;
    color: #999;
    font-size: 15px;
    padding: 0 1px;
}

.opt-in-switch .subscription-label {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 9px 16px;
}

.opt-in-switch .subscribe-label {
    cursor: pointer;
    color: #999;
    font-size: 15px;
    padding: 0 1px;
}

.opt-in-switch .subscription-label {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 9px 16px;
}

.opt-in-switch.off .subscribed {
    display: none;
}

.tutorial-single .tutorial-footer .sharing {
    text-align: center;
    display: block;
}

.tutorial-single .tutorial-footer .share-button {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 9px 16px;
    margin-left: 7px;
}

.share-button {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    pointer-events: auto;
    cursor: pointer;
}

.tutorial-single .tutorial-footer .share-button .icon {
    font-size: 21px;
}

.share-button .icon {
    font-size: 22px;
    color: #a6a6a6;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'community_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.share-button {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    pointer-events: auto;
    cursor: pointer;
}

.icon-share-square:before {
    content: "\e63e";
}

/*  结束    中间内容底部*/

/*底部用户头像  开始*/

.tutorial-single .tutorial-footer .tutorial-contributors {
    margin-top: 20px;
    border-top: 1px solid #E7E7E7;
    padding-top: 30px;
}

.tutorial-single .tutorial-footer .section-content {
    display: block;
}

.tutorial-single .section-content {
    position: relative;
    margin: 0 auto;
    display: block;
}

.tutorial-single .tutorial-footer .tutorial-contributors.one .tutorial-footer-user:nth-child(1) {
    text-align: center;
    width: 100%;
}

.tutorial-single .tutorial-footer .tutorial-footer-user {
    font-size: 16px;
    /*min-height: 100px;*/
    color: #999;
    width: 32%;
    display: inline-block;
    line-height: 1.2;
}

.tutorial-single .tutorial-footer .tutorial-footer-user a {
    color: #999;
}

.tutorial-single .tutorial-footer .tutorial-footer-user .avatar {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.tutorial-single .tutorial-footer .avatar {
    margin-bottom: 5px;
}

.avatar-small, .response .response-avatar {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.tutorial-single .tutorial-footer .tutorial-footer-user .user-info {
    display: inline-block;
    text-align: left;
}

.tutorial-single .tutorial-footer .tutorial-footer-user .user-info {
    display: inline-block;
    text-align: left;
}

/*底部用户头像  结束*/

/*右侧导航   开始*/
.table-of-contents.open {
    visibility: visible;
}

.table-of-contents {
    font-size: 16px;
    text-align: left;
    position: absolute;
    background-color: white;
    top: 145px;
    z-index: 50;
    padding-top: 13px;
    visibility: hidden;
}

.affix {
    position: fixed;
    top: 30px;
    display: block;
}

.affix-top {
    position: fixed;
}

.affix-bottom {
    position: fixed
}

.tocify-item {
    color: #2481B7;
    display: block;
    padding: 5px 10px;

    /*不加宽度,背景宽度自适应内容.*/
    /*width: 200px;*/
    /*overflow: hidden;*/
    border-left: 3px solid #F3F3F3;
}

.tocify-item.active a {
    color: #000;
}

.tocify-item a {
    color: darkgrey;
}

.tocify-item.active a:hover {
    color: #2481b7;
}

.tocify-item a:hover {
    color: #2481b7;
}

.tocify-item.active {
    color: #000;
    background: #F3F3F3;
    display: block;
    padding: 5px 10px;
    border-left: 3px solid #00A0E9;
}

.side_menutitle {
    background-color: #FFF;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 16px;

}

/*右侧导航  结束*/


